$icon-font-path: '../fonts/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower


body {
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  padding-top: 150px;
  padding-bottom: 200px;
  color: white;

  font-family: 'Overpass', sans-serif;

  @media only screen and (min-width : 768px) {
    padding-top: 90px;
  }

}

.searchbox {
  width: 100%;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0%;
  padding: 0 30px;
  text-align: center;

  opacity: 0.9;

  background-color: #FC6E51;
  transition: all ease 200ms;

  h2 {
    font-size: 18px;
  }

  span {
    text-transform: capitalize;
  }
}



.movie-element {
  height: 400px;
  overflow: hidden;
  // width: 0;
  // height: 0
  // opacity: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; 
  }

  margin-bottom: 30px;

  a {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    display: block;
    overflow: hidden;

    &:hover > .movie-info {
      height: 100%;
      padding-top: 10%;
    }
  }
}

@import './components/preloader.scss';

.navbar-inverse {
   background-color: #FC6E51;

  .navbar-brand {
      color: white;
      font-family: 'Kanit', sans-serif;
      font-weight: 900;

      &:hover {
        background-color: lighten(#FC6E51, 10%);
      }
  }

}

.navbar-form {
  border: 0;
  @media only screen and (min-width : 768px) {
    padding-left: 0;
  }
  
}

.btn-search {
  background-color: transparent;
  color: white;

  &:hover {
    background-color: lighten(#FC6E51, 10%);
    color: white;
  }

  &:focus {
    background-color: transparent;
    outline-color: transparent;
    color: white;
  }
}


.main-view, .detail-view {
  padding-top: 10%;
  text-align: center;
}

.detail-view {
  padding-top: 60px;
  text-align: left;

  img {
    max-width: 100%;
    height: auto;
  }

  td:nth-child(2) {
    padding-left: 15px;
  }

  header, section {
    margin-bottom: 1.8em;
  }

  footer p, footer a{
    display: inline-block;
    margin-right: 15px;
  }

  .glyphicon {
    color: #FC6E51;
    font-size: 2em;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.main-view-brand, .detail-view-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  @media only screen and (min-width : 768px) {
    font-size: 86px;
  }
}

.detail-view-title {
  font-size: 48px;
}

.main-view-decorator, .detail-view-decorator {
    width: 40%;
    border-top-color: #FC6E51;
}

.main-view-text, .detail-view-text {
  font-size: 22px;
  font-style: italic;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media only screen and (min-width : 768px) {
    width: 30%;
  }
}


.detail-view-text {
  margin-left: 0;
  margin-right: 0;
}

.detail-view-text {
  margin-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

.badge {
  background-color: #FC6E51;
  font-size: 1.2em;
  padding: 5px;
  margin-left: 5px;
}

.btn-default {
  background-color:  #FC6E51;
  color: white;
}

.back-arrow {
  position: fixed;
  top: 150px;
  z-index: 2000;
  left: 15px;

  cursor: pointer;

  .glyphicon {
    color: white;
  }

  &:hover .glyphicon{
    color: lighten(#FC6E51, 10%);
  }


  // @media only screen and (min-width : 992px) {
  //   left: 45px;
  // }
}