$icon-font-path: '../fonts/';

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



body {
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  // background-size: contain;
  // background-attachment: fixed;
  padding-top: 90px;
  color: white;

  font-family: 'Overpass', sans-serif;
}

.searchbox {
  width: 100%;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0%;
  padding: 0 30px;
  text-align: center;

  opacity: 0.9;

  background-color: #FC6E51;
  transition: all ease 200ms;

  h2 {
    font-size: 18px;
  }

  span {
    text-transform: capitalize;
  }
}

.movie-element {
  height: 400px;
  overflow: hidden;


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; 
  }

  margin-bottom: 30px;

  a {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    display: block;
    overflow: hidden;

    &:hover > .movie-info {
      height: 100%;
      padding-top: 10%;
    }
  }
}

@import './components/preloader.scss';

.navbar-inverse {
   background-color: #FC6E51;

  .navbar-brand {
      color: white;
      font-family: 'Kanit', sans-serif;
      font-weight: 900;

      &:hover {
        background-color: lighten(#FC6E51, 10%);
      }
  }

}

.btn-search {
  background-color: transparent;
  color: white;

  &:hover {
    background-color: lighten(#FC6E51, 10%);
    color: white;
  }

  &:focus {
    background-color: transparent;
    outline-color: transparent;
    color: white;
  }
}


.main-view {
  padding-top: 10%;
  text-align: center;
}

.main-view-brand {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 86px;

}

.main-view-decorator {
    width: 40%;
    border-top-color: #FC6E51;
}

.main-view-text {
  font-size: 22px;
  font-style: italic;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}