<div class="main-view">
	<hr class="main-view-decorator">
	<h1 class="main-view-brand">MovieSearch</h1>
	
	<p class="main-view-text">Search movies, series, games and other contents on IMDB</p>
	<hr class="main-view-decorator">
</div>